<%- include('header'); -%>
    <main>
      <div class="container text-center">
        <form method="post" action="/login" class="align-items-center">
          
          <div>
            <!--   
               <div id="divTimer" hx-post="/loginfail" hx-swap="textContent" hx-target="#divTimer" hx-trigger="load"><p ></p></div>  -->
            <p  id="msgPasser"></p>
            
            <div>
          
              <%=  locals.error.error %>
              
            </div>

           
          <label>
            <span >Username</span><br />
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill=" #682c5e"
              >
                <path
                  d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z"
                />
              </svg>

              <input type="text" name="username" required  />
           
          </label>
        </div>
          <div>
            <label>
              <span>Password</span><br />

              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill=" #682c5e"
              >
                <path
                  d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z"
                />
              </svg>
              <input type="password"  name="password" required />
            </label>
          </div>
          <br />
          <div >
            <button type="submit" onclick="loginInvalid()">Login</button>
          </div>
        </form>
      </div>
      <div class="mb-3"><button onclick="window.location.href='/signup';">Register here</button> </div>
    </main>
    <hr style="border-top: 1px dashed white;">
    <%- include('footer'); -%>